*{
    margin: 0;
    padding: 0;
}

ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


/* ===== HEADER =====*/

header{
    background-color: purple;
    color: white;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: 0.3x;
}

.header .logo img:hover{
    transform: scale(1.2);
}


header ul {
    display: flex;
    gap: 50px;
    font-size: 15pt;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}


header a{
    color: inherit;
}

header div a{
    width: 100px;
}



/*====== MAIN ========*/

main{
    padding-top: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
    align-items: center;
}
main div img{
    width: 550px;
    height: auto;
}

h2{
    font-size: 30pt;
    line-height: 30pt;
}

.texto-presentacion{
    font-size: 18pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grilla-inicio p {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-size: 65pt;
    line-height: 65pt;
    text-align: left;
    margin-top: 3rem;
}

.grilla-inicio{
    display: flex;
    justify-content: baseline;
    gap: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.grilla-inicio h1{
    margin-top: 4rem;
    margin-bottom: -2rem;
    justify-content: flex-start;
}

.contenedor {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

main div h1{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.texto-inicio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}


.banner {
    width: 1423px;
    height: auto;
}

.ultimo-episodio{
    background-color: rgb(121, 17, 17);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.ultimo-episodio div a{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #ffffff; /*color botón*/
    color: #700808; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
}


/*======= FOOTER ========*/

footer{
    background-color: purple;
    color: white;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 15pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    justify-items: left;
    gap: 20px;
}

footer a{
    color: inherit;
    align-items: center;
    display: flex;
    justify-content: space-between;
    justify-items: auto;
    text-align: center;
    margin-bottom: 1.5rem;
}